body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    margin-top: 0;
}

form {
    display: inline-block;
    margin-top: 2em;
}

label {
    font-size: 1.2em;
    margin-right: 0.5em;
}

select {
    font-size: 1.2em;
    padding: 0.5em;
    margin-right: 1em;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}


table, h1 {
    margin: 0 auto; 
    text-align:center; 
}

td.get { 
    color: blue; 
}

td.post { 
    color: green; 
}

td.delete { 
    color: red; 
}

td, th { 
    padding: 10px; 
}